<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Timesurfer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TimesurferExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>TimesurferFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>17DB0BF51B3BAA690001810D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>17DB0C0E1B3BAA690001810D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA1AAC561B3E2A2E00F5A151</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA22DABE1B41DEED0072005E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA22DAC81B41DEEE0072005E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA5695101B41B65300A9FB98</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
